<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title><%= titulo %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include('../partials/header') %>

  <main class="container">
    <h1><%= titulo %></h1>
    <p><%= descricao %></p>

    <form>
      <input type="text" placeholder="Nome da obra" required>
      <input type="text" placeholder="Numero da nota" required>
      <input type="number" step="0.01" placeholder="Valor bruto" required>
      <input type="date" placeholder="Data de emissão" required>
      <textarea placeholder="Mensagem" required></textarea>
      <button type="submit">Adicionar</button>
    </form>
  </main>

  <%- include('../partials/footer') %>
</body>
</html>